target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw
mvnw.cmd
.git/

.init.sql
.env
!db/
!src/
!docker-compose.yml
!Dockerfile
!flyway.conf
src/main/resources/.env

.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

