<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer – Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img alt="Weather icon" height="24" src="/resources/images/weather-app.png" width="30">Weather Tracker
        </a>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3" th:text="${user.getName()}">zhukovsd</span>
            <a th:href="@{/logout}">
                <button class="btn btn-outline-danger">Sign out</button>
            </a>
        </div>
    </div>
</nav>
<section id="page-content">
    <div class="container mt-4">
        <div class="d-flex my-4" style="flex-direction: column">
            <form th:action="@{/search-results}" th:method="GET" th:object="${search}">
                <div class="input-group location-search-input-group me-3">
                    <input class="form-control" placeholder="Enter location" required th:field="*{city}" type="text">
                    <button class="btn btn-outline-secondary btn-sm clear-input-button" onclick="this.previousElementSibling.value=''"
                            type="button">
                        &times;
                    </button>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>

        </div>


        <div>
            <div class="row">
                <div class="col-12 col-lg-3 col-md-6 mb-4" th:each="loc_f_s : ${locations_for_show}">
                    <div class="card h-100 position-relative weather-card">
                        <div class="position-absolute weather-card-delete-form">
                            <form th:action="@{/search-results}" th:method="DELETE">
                                <input name="toDelete" th:value="${loc_f_s.city}" type="hidden">
                                <button aria-label="Delete" class="btn-close" type="submit"></button>
                            </form>
                        </div>
                        <img alt="Weather icon"
                             class="card-img-top img-fluid"
                             th:src="'https:' + ${loc_f_s.icon}">
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-text" th:text="${loc_f_s.currentTemp} + ' °C'">7°C</h1>
                            <h3 class="card-title" th:text="${loc_f_s.city} + ', ' + ${loc_f_s.country}">Tbilisi,
                                GE</h3>
                            <p class="card-text mb-1">Feels like <span th:text="${loc_f_s.feelsLike} + ' °C'">2</span>
                                <span th:text="${loc_f_s.skyState}">Clear sky</span>
                            </p>
                            <p class="card-text mb-1" th:text="'Humidity: ' + ${loc_f_s.humidity} +'%'">Humidity:
                                70%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="px-4">
        <span>© Weather Viewer, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a> roadmap.</span>
    </div>
</footer>

</body>
</html>